.dashboard-box
  %h2 Form
.dashboard-box#social-media
  = render :partial => 'shared/social-media'
.dashboard-box#donate
  .box-content
    = render :partial => 'shared/wepay'
.dashboard-box#about-box
  %h2 About, links
  = link_to "About", about_path
